svg {
  display: block;
  margin: auto;
}

button {
  font-family: 'Roboto Mono', monospace;
}

#home-button {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
}

#home-button:hover {
  text-decoration: underline;
}

#sample-dataset-button {
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
}

#sample-dataset-button:hover {
  text-decoration: underline;
}

.plot-controls {
  margin: 1em;
}

.plot-controls div {
  margin: 1em;
}

#save-session-button {
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
}

#save-session-button:hover {
  text-decoration: underline;
}

#filter-button {
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
}

#filter-button:hover {
  text-decoration: underline;
}

#reset-button {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
}

#reset-button:hover {
  text-decoration: underline;
}

#filtro-app{
  text-transform: uppercase;
}

#loading_screen
{  
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  color: #FFF;  
  text-align: center;
  padding: 80px;
  background-color: #000;
  box-sizing: border-box;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.cat circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

table{
  text-align: center;
  margin: 1em;
}

table th, table td {
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

#black {
  background-color: black;
}

#limegreen {
  background-color: limegreen;
}

#green {
  background-color: green;
}

#olive {
  background-color: olive;
}

#coral {
  background-color: coral;
}

#orange {
  background-color: orange;
}

#red {
  background-color: red;
}